@font-face {
    font-family: "Roboto";
    font-weight: 400;
}
.navbar .navbar-brand {
    font-family: "Roboto";
    font-size: 1.25rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
}
.navbar-brand img {
    width:30px;
}
.sidebar .nav-link.active, .container-fluid a {
    color: #700606;
}
.container-fluid a:hover {
    color: #b71c1c;
}
.table-sm {
    font-size: 0.8em;
}